<!DOCTYPE html>
<html lang ="en">
    <% if request.cookies['userState'] == 'Admin' %>
        <%= erb :adminheader %>
    <% else %>
        <%= erb :userheader %>
    <%end%>

<h1>History</h1>
    <form method="post" action="city_search">
        <input type="text" name="city" class="form-control" id="userCity" placeholder="Search for city here">
        <button type="submit" class="btn btn-success">Search</button>
    </form>
    <% if @historyTable.nil? %>
        <% puts 'table in history is empty' %>
    <%end%>
    <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th scope="col">Order Number</th>
                      <th scope="col">Twitter Handle</th>
                      <th scope="col">Origin</th>
                      <th scope="col">Destination</th>
                      <th scope="col">Car</th>
                      <th scope="col">Date</th>
                      <th scope="col">Time</th>
                      <th scope="col">Status</th>
                      <th scope="col">City</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% unless @historyTable.nil? %>
                        <% @historyTable.each do |record| %>

                            <tr>
                                <td><%=h record[0] %></td>
                                <td><%=h record[1] %></td>
                                <td><%=h record[2] %></td>
                                <td><%=h record[3] %></td>
                                <td><%=h record[4] %></td>
                                <td><%=h record[5] %></td>
                                <td><%=h record[6] %></td>
                                <td><%=h record[7] %></td>
                                <td><%=h record[8] %></td>
                            </tr>

                        </tbody>
                        <% end %>
                </table> 
        <%end%>
</html>
<%= erb :footer %>